<!Doctype html>
<html>
<head>
<html dir='ltr' lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml' xmlns:b='http://www.google.com/2005/gml/b' xmlns:data='http://www.google.com/2005/gml/data' xmlns:expr='http://www.google.com/2005/gml/expr'>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  <meta charset='UTF-8'>
  <title>O Pontual</title>
  <link href='public/icons/favicon.ico' rel='icon' type='image/x-icon' />
  <link rel='stylesheet' type='text/css' href='src\css\funcionario\skin-1.css' />
  <link href='public/icons/mipmap-xxxhdpi/ic_launcher.png' rel='icon' sizes='192x192' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta name='description' content='O Pontual - Um aplicativo minimalista para apontamento' />

  <!-- Open Graph -->
  <meta name='og:title' content='O Pontual' />
  <meta property='og:url' content='/' /> <!-- Relativeness forbidden -->
  <meta property='og:type' content='website' />
  <meta name='og:description' content='O Pontual - Um aplicativo minimalista para apontamento' />
  <meta name='og:image' content='public/graph/512x512.jpg' /> <!-- Relativeness forbidden -->

  <!-- PWA -->
  <link rel='manifest' href='public/manifest.json' />
  <meta content='yes' name='mobile-web-app-capable' />
  <meta content='yes' name='apple-mobile-web-app-capable' />

  <!-- Front-end Debugger -->
  <script src='https://jonnypaes.github.io/debug.js/debug.js'></script>

  <!-- Head - Scripts -->
  <script src='src\js\funcionario\language.js'></script>
  <script src='src\js\funcionario\api.js'></script>
  <script async='async' src='src\js\funcionario\data.js'></script>
  
  <!-- JSON-LD Structured Data -->
  <script type='application/ld+json'>
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": "Pontual",
    "url": "/",  
    "description": "O Pontual - Um aplicativo minimalista para apontamento",
    "headline": "O Pontual",
    "image": "public/icons/favicon.ico"
  }	
  </script>
	
  <script>
	if ('serviceWorker' in navigator) {
	    navigator.serviceWorker.register('service-worker.js').then(function(registration) {
	        console.log('Service Worker is active and registered.');
	
	        // Check if the service worker is ready
	        navigator.serviceWorker.ready.then(function() {
	            console.log('Service Worker is ready and active.');
	            
	            // Check if caching is available for offline use
	            caches.open(CACHE_NAME).then(function(cache) {
	                console.log('Cache available for offline use:', cache);
	            });
	        }).catch(function(error) {
	            console.log('Error with service worker readiness:', error);
	        });
	    }).catch(function(error) {
	        console.error('Service Worker registration failed:', error);
	    });
	} else {
	    console.log('Service Worker is not supported in this browser.');
	};
	
	// Notification permission and scheduling
	if ('Notification' in window) {
	    Notification.requestPermission().then(function (permission) {
		if (permission === 'granted') {
		    scheduleNotifications(notificationTimes);
		}
	    });
	};
	  
	function scheduleNotifications(notificationTimes) {
		notificationTimes.forEach(function(time) {
			const notificationData = {
				action: 'scheduleNotification',
				hour: time.hour,
				minute: time.minute,
				content: time.content
			};
		});
	};
  </script>

  <script async='async' src='src\js\funcionario\listener.js'></script>

</head>
	
<body>
  <!-- Head - Scripts -->
  <script async='async' src='src\js\funcionario\global.js'></script>
  <script async='async' src='src\js\funcionario\events.js'></script>
  <script async='async' src='src\js\funcionario\base.js'></script>
  <script async='async' src='src\js\funcionario\functions.js'></script>

  <script src='src\js\funcionario\ui.js' defer></script>
		
<!-- Language Fetch -->
<script type='text/javascript'>
  async function getLanguage() {
    const languageFetch = `${defaultPage}static/public/language/${languagesMatched.toLowerCase()}.json`
    try {
      const i18n = await httpMethods('get', languageFetch);
      const languageData = ReceiveString(i18n);
      showNotification(languageData.GENERAL.WELCOME);
    } catch (error) {
      console.error('Error: ', error);
    }
  }
</script>

  <form id='myForm' action='/submit' method='POST'>
	<div class='centered-container'>
		<div class='message-box' id='message'></div>
		<input type='checkbox' id='toggle'/>	
		<label for='toggle' class='toy-toggle'>
			<span class='border1'></span>
			<span class='border2'></span>
			<span class='border3'></span>
			<span class='handle'>
				<span class='handle-off'></span>
				<span class='handle-on'></span>
			</span>
		</label>
		<div class='text-box' id='container'>		
			<input type='text' class='container' id='box' value=''></input>
			<div class='button-container'>
				<button id='acceptButton'>✔</button>
				<button id='denyButton'>✘</button>
			
		</div>
		
      <input type='hidden' id='userInput' name='textBox'>  
      <input type='hidden' id='latitude' name='latitude'>
      <input type='hidden' id='longitude' name='longitude'>  
      <input type='submit' id='hiddenSubmit' style='display:none'>
  </form>
</body>
</html>
