<!Doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>O Pontual</title>
<link href='public/icons/favicon.ico' rel='icon' type='image/x-icon'/>
<link rel="stylesheet" type="text/css" href="src\css\funcionario\skin-1.css"/>
<script  async='async' src="src\js\funcionario\api.js"></script>
<script async='async' src="src\js\funcionario\base.js"></script>
<script src="src\js\funcionario\events.js"></script>
<script async='async' src="src\js\funcionario\functions.js"></script>
<script async='async' src="src\js\funcionario\ui.js"></script>
<link href="public/icons/mipmap-xxxhdpi/ic_launcher.png" rel="icon" sizes="192x192"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="O Pontual - Um aplicativo minimalista para apontamento">
<link rel="manifest" href="public/manifest.json">
<meta content="yes" name="mobile-web-app-capable"/>
<meta content="yes" name="apple-mobile-web-app-capable"/>
</head>

<script async='async' type='text/javascript'>
var latitude;
var longitude;
var checkbox = document.getElementById("toggle");
var isChecked;
var descricao;
const DEFAULT_STATE = true;
var checkState = DEFAULT_STATE;
</script>

<script>
	if ('serviceWorker' in navigator) {
		navigator.serviceWorker.register('service-worker.js')
			.then(function(registration) {
				console.log('Service Worker registered with scope:', registration.scope);
			})
			.catch(function(error) {
				console.error('Service Worker registration failed:', error);
			});
	}
</script>

<body onLoad="onCreate()">
  <form id="myForm" action="/submit" method="POST">
	<div class="centered-container">
		<div class="message-box" id="message"></div>
		<input type="checkbox" id="toggle" onClick="onChange()"/>	
		<label for="toggle" class="toy-toggle">
			<span class="border1"></span>
			<span class="border2"></span>
			<span class="border3"></span>
			<span class="handle">
				<span class="handle-off"></span>
				<span class="handle-on"></span>
			</span>
		</label>
		<div class="text-box" id="container">		
			<input type="text" class="container" id="box" value=""></input>
			<div class="button-container">
				<button id="acceptButton">✔</button>
				<button id="denyButton">✘</button>
			
		</div>
		
	<input type="hidden" id="textBox" name="textBox">  
	<input type="hidden" id="latitude" name="latitude">
    <input type="hidden" id="longitude" name="longitude">  
	<input type="submit" id="hiddenSubmit" style="display:none">
  </form>
</body>
</html>
